{% load compress %}
{% load url from future %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Linux Magazine Viewer">
		<meta name="author" content="linux magazine viewer">
		
		<title>{% block title %}Linux Magazine Viewer{% endblock %}</title>

		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">		

		{% if debug %}
			<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/style.less" />
			{% block styles %}{% endblock %}
			<script src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
		{% else %}
			{% compress css %}
			<link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/style.less" />					
			{% endcompress %}
		{% endif %}
		
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/favicon.ico">		
	</head>
<body{% block propiedades-body %}{% endblock %}>
</body>
</html>
